.hg/
binaries/
deriveddatacache/
.vs/
build/
intermediate/
PACKPLUGIN/
COMPPLUGIN/
saved/
*.orig
*.sln
*.xlsx
Intermediate
Build
Plugins/DenisesVRExpansionExpansion/*
.vscode
*.VC.db
*.opensdf
*.opendb
*.sdf
*.suo
*.xcodeproj
*.xcworkspace
ReloadBinaries.ps1
*.bak
.vsconfig